.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.header{
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 48px;
  background-color: #fff;
  z-index: 1040;
}

.menu-toogle-button{
  width: 30px;
  margin-right: 10px;
}

.navbar-toggler{
  border-color: transparent !important;
}

.navbar-toggler:focus{
  border: none;
  outline: none;
}

.navbar-toggler:active{
  border: none;
  outline: none;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(14, 1, 1);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: 'Fjalla One';
  src: url('../extras/FjallaOne-Regular.ttf'); /* IE9 Compat Modes */
  src: url('../extras/FjallaOne-Regular.ttf') format('embedded-opentype'), /* IE6-IE8 */
       url('../extras/FjallaOne-Regular.ttf') format('woff2'), /* Super Modern Browsers */
       url('../extras/FjallaOne-Regular.ttf') format('woff'), /* Pretty Modern Browsers */
       url('../extras/FjallaOne-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
}

.fontFjalla{
  font-family: 'Fjalla One', sans-serif;
  color: black !important;
  font-size: 20px !important;
}

.fontFjalla-Copyright{
  font-family: 'Fjalla One', sans-serif;
  color: rgb(65, 65, 65) !important;
  font-size: 13px !important;
}

.fontFjalla-Loading{
  font-family: 'Fjalla One', sans-serif;
  font-size: 500% !important;
  color: black;
}

.fontSize-30px{
  font-size: 30px !important;
}

.fontSize-20px{
  font-size: 20px !important;
}

.fontSize-15px{
  font-size: 15px !important;
}

.aStyle:hover{
  color: #bb747cad !important;
  background-color: transparent !important;
  text-decoration: unset !important;
}

.margin-top-4pc{
  margin-top: 4%;
}

.margin-top-3pc{
  margin-top: 3% !important;
}

.margin-top-1pc{
  margin-top: 1% !important;
}

.margin-left-2pc{
  margin-left: 2% !important;
}

.margin-left-10pc{
  margin-left: 10% !important;
}

.margin-right-20px {
  margin-right: 20px;
}

.margin-left-20px {
  margin-left: 20px;
}

.margin-bottom--9px{
  margin-bottom: -9px;
}

.centered-div{
    position: absolute;
    width: 300px;
    height: 200px;
    z-index: 15;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -150px;
}

.color-black{
  color: black !important;
}

.color-pink{
  color: pink !important;
}

.dialog-enter {
  opacity: 0.01;
  transform: scale(1.1);
}

.dialog-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: all 300ms;
}

.dialog-exit {
  opacity: 1;
  transform: scale(1);
}

.dialog-exit-active {
  opacity: 0.01;
  transform: scale(1.1);
  transition: all 300ms;
}

.image-gallery-left-nav .image-gallery-svg, .image-gallery-right-nav .image-gallery-svg {
  height: 50px !important;
  width: 60px !important;
}

div:focus{
  outline: none;
}

.paddingTop-10px{
  padding-top: 10px;
}
.card-title {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  overflow: hidden;
  width: 100%;
  height: 100%;
  transform: scale(0);
  transition: .3s ease;
}

.container-image:hover .card-title {
  transform: scale(1);
}

.container-image:hover .opacity{
  opacity: 50%;
}

.text{
  font-family: 'Fjalla One', sans-serif;
  color: black !important;
  font-size: 50px !important;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.container-image {
  position: relative;
}

/* .box{
  box-shadow: 1px 1px 6px 1px grey !important;
} */

.object-fit-image{
  object-fit: cover;
  object-position: 100% 0%;
}

.is-default{
  background-color: #bb747c59 !important;
  color: black !important;
  margin-top: 2%;
}

input:focus { 
  outline: none !important;
  border-color: black !important;
  box-shadow: none !important;
}

.success-focus{ 
  border-color: rgb(3, 180, 3) !important;
}

.disabled-focus{ 
  border-color: red !important;
}

textarea:focus { 
  outline: none !important;
  border-color: black !important;
  box-shadow: none !important;
}